<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <script src="js/script.js"></script>
    <title>About</title>
  </head>
  <body>
    <nav class="nav" id="myNav">
      <a href="home" class="home"><span></span>Home</a>
      <a href="about" class="about active"><span></span>About</a>
      <a href="contact" class="contact"><span></span>Contact Me</a>
      <a href="game" class="game"><span></span>Game</a>
      <a class="icon" onclick="dropDown()"></a>
    </nav>
    <h1 id="heading">About Me</h1>
    <div id="content">
      <p>
        My name is Shaun Pienaar. I'm an aspiring and self taught developer. I am currently
        working on web and game development, but interested in the broader field of computer
        sience in general. I know basic HTML, CSS and is well versed in Javascript. I would
        also consider myself intermediate in C-sharp. I have limmited experience working with
        third party libraries, but this site for example is running with Node and was created
        with the Express framework.
      </p>
      <p>
        I have done some game development as well and am quite familiar with the Unity game
        engine. I have not yet published any games, but would like to do so in the future.
        I will also love to expand my knowledge into the field of artifficial intellegence and
        even eventually build my own game engine and physics library.
      </p>
      <p>
        Being quite good with math and science and knowing at least the basics of algorithms,
        I find it quite easy to implement physics formulas in my code. I believe that I am a
        natural problem solver, therefore I thoroughly enjoy programming. It is something that
        I am very passionate about and eager to learn as much as I can.
      </p>
      <p>
        I have not yet had the opportunity to have a proffesional position in the field of computer
        science, although I do spend my free time trying to improve my craft. I only recently
        started feeling confident enough to show my code to others, as I have not been doing this
        for very long. I do now have a Github account and plan on starting to publish my projects
        there.
      </p>
      <p>
        This is the first complete website that I have designed and coded and see it as the start
        of my career in computer science. I am still very new to this field and welcome any advice
        and constructive criticism. I plan on eventually adding a comment section to this site,
        although for now my contact details can be found on the "contact" section of this website.
        I am enthusiastic to advance my career in this field and welcome any opportunity to do so.
      </p>
    </div>
  </body>
</html>