<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/contact.css">
    <script src="js/script.js"></script>
    <title>Contact</title>
  </head>
  <body>
    <nav class="nav" id="myNav">
      <a href="home" class="home"><span></span>Home</a>
      <a href="about" class="about"><span></span>About</a>
      <a href="contact" class="contact active"><span></span>Contact Me</a>
      <a href="game" class="game"><span></span>Game</a>
      <a class="icon" onclick="dropDown()"></a>
    </nav>
    <h1 id="heading">Contact Details</h1>
    <div id="content">
      <h2>Shaun Pienaar</h2>
      <label>E-mail</label>
      <p>sfpienaar1990@gmail.com</p>
      <label>Phone number</label>
      <p>076-750-0262</p>
      <label>WhatsApp</label>
      <p>076-750-0262</p>
      <label>Working Hours:</label>
      <p>8 am - 5 pm. South-African time</p>
      <p>6 am - 3 pm. GMT</p>
      <p>Based in Pretoria, South-Africa</p>
    </div>
  </body>
</html>