<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/script.js"></script>
    <title>Home</title>
  </head>
  <body>
    <nav class="nav" id="myNav">
      <a href="home" class="home active"><span></span>Home</a>
      <a href="about" class="about"><span></span>About</a>
      <a href="contact" class="contact"><span></span>Contact Me</a>
      <a href="game" class="game"><span></span>Game</a>
      <a class="icon" onclick="dropDown()"></a>
    </nav>
    <h1 id="heading">Web Development</h1>
  </body>
</html>