@font-face {
  font-family: 'assassinregular';
  src: url('../fonts/assassin-webfont.woff2') format('woff2'),
       url('../fonts/assassin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url(../images/hardware.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: dodgerblue;
  background-repeat: no-repeat;
  background-size: cover;
}

#heading{
  background-color: rgba(50, 60, 70, 0.3);;
  border-top: 2px solid rgb(52, 60, 71);
  border-left: 2px solid rgb(52, 60, 71);
  border-right: 5px solid rgb(52, 60, 71);
  border-bottom: 5px solid rgb(52, 60, 71);
  box-shadow: 5px 5px 3px black;
  text-shadow: 5px 3px 2px rgb(52, 60, 71);
  font-family: 'WebFont', 'assassinregular';
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  color: rgb(228, 225, 189);
  vertical-align: middle;
  width: 36%;
  height: 6%;
  font-size: 6vh;
  text-align: center;
  position: relative;
  top: 7vh;
  left: 32vw;
}

#content{
  border-top: 3px solid rgb(52, 60, 71);
  border-left: 3px solid rgb(52, 60, 71);
  border-right: 3px solid rgb(52, 60, 71);
  border-bottom: 3px solid rgb(52, 60, 71);
  box-shadow: 8px 10px 6px black;
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.8);
  width: 70vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  top: 8vh;
  left: 12vw;
  font-size: 1.5em;
}

@media screen and (max-width: 600px){
  #heading{
    font-size: 7vw;
  }
}