body{
  background-image: url(../images/hardware.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: dodgerblue;
  background-repeat: no-repeat;
  background-size: cover;
}

#heading{
  background-color: rgba(50, 60, 70, 0.3);;
  border-top: 2px solid rgb(52, 60, 71);
  border-left: 2px solid rgb(52, 60, 71);
  border-right: 5px solid rgb(52, 60, 71);
  border-bottom: 5px solid rgb(52, 60, 71);
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  color: rgb(228, 225, 189);
  vertical-align: middle;
  width: 36%;
  height: 6%;
  font-size: 6vh;
  text-align: center;
  position: relative;
  top: 7vh;
  left: 32vw;
}

#content{
  border-top: 3px solid rgb(52, 60, 71);
  border-left: 3px solid rgb(52, 60, 71);
  border-right: 8px solid rgb(52, 60, 71);
  border-bottom: 8px solid rgb(52, 60, 71);
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.6);
  width: 70vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  top: 8vh;
  left: 12vw;
  font-size: 1.2em;
}

@media screen and (max-width: 600px){
  #heading{
    font-size: 7vw;
  }
}