@font-face {
  font-family: 'assassinregular';
  src: url('../fonts/assassin-webfont.woff2') format('woff2'),
       url('../fonts/assassin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intenci_demoregular';
  src: url('../fonts/intencidemoregular-webfont.woff2') format('woff2'),
       url('../fonts/intencidemoregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url(../images/computer.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: dodgerblue;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

#heading{
  background-color: rgba(50, 60, 70, 0.3);;
  border-top: 2px solid rgb(52, 60, 71);
  border-left: 2px solid rgb(52, 60, 71);
  border-right: 5px solid rgb(52, 60, 71);
  border-bottom: 5px solid rgb(52, 60, 71);
  box-shadow: 5px 5px 3px black;
  font-family: 'WebFont', 'assassinregular';
  text-shadow: 5px 3px 2px rgb(52, 60, 71);
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  color: rgb(228, 225, 189);
  vertical-align: middle;
  width: 30%;
  height: 6%;
  font-size: 6vh;
  text-align: center;
  position: relative;
  top: 7vh;
  left: 35vw;
}

#content{
  border-top: 3px solid rgb(52, 60, 71);
  border-left: 3px solid rgb(52, 60, 71);
  border-right: 3px solid rgb(52, 60, 71);
  border-bottom: 3px solid rgb(52, 60, 71);
  box-shadow: 8px 10px 6px black;
  font-family: 'WebFont', 'intenci_demoregular';
  text-shadow: 1px 1px white;
  font-size: 1.7em;
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.6);
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  width: 50vw;
  position: relative;
  left: 24vw;
  top: 8vh;
}

#content label{
  font-weight: bolder;
}

@media screen and (max-width: 600px){
  #heading{
    font-size: 7vw;
  }
}