body{
    padding: 0;
    margin: 0;
}

nav{
    border-top: 2px solid rgb(52, 60, 71);
    border-left: 2px solid rgb(52, 60, 71);
    border-right: 5px solid rgb(52, 60, 71);
    border-bottom: 5px solid rgb(52, 63, 74);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(192, 192, 192);
    width: 96%;
    position: fixed;
    left: 2%;
    top: 1%;
    z-index: 10;
}

nav a{
    border-radius: 5vw;
    display: inline;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    align-content: center;
    justify-content: center;
}

nav a.active{
    background-color: rgb(91, 100, 110);
}

nav a:hover{
    background-color: white;
    color: black;
}

nav a i{
    margin-right: 1vw;
}

nav #icon{
    display: none;
    float: right;
}

@media screen and (max-width: 700px){
    nav {
        justify-content: left;
    }
    nav a{
        width: 70%;
    }
    nav a:not(.active){
        display: none;
    }
    nav #icon{
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        width: 15%;
    }
    .nav.list{
        text-align: left;
        flex-direction: column;
        align-content: flex-start;
    }
    .nav.list #icon{
        position: absolute;
        top: 0;
        right: 20px;
        width: 15%;
    }
    .nav.list a{
        display: block;
        text-align: center;
        width: 70%;
    }
}