body{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(65, 105, 105);
    width: 100%;
    position: fixed;
    left: -0%;
    top: 0%;
    z-index: 10;
}

nav a{
    display: inline;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    align-content: center;
    justify-content: center;
}

nav a.active{
    background-color: cadetblue;
}

nav a:hover{
    background-color: white;
    color: black;
}

nav a i{
    margin-right: 1vw;
}

nav #icon{
    display: none;
    float: right;
}

@media screen and (max-width: 600px){
    nav {
        justify-content: left;
    }
    nav a{
        width: 70%;
    }
    nav a:not(.active){
        display: none;
    }
    nav #icon{
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        width: 15%;
    }
    .nav.list{
        text-align: left;
        flex-direction: column;
        align-content: flex-start;
    }
    .nav.list #icon{
        position: absolute;
        top: 0;
        right: 20px;
        width: 15%;
    }
    .nav.list a{
        display: block;
        text-align: center;
        width: 70%;
    }
}